body {
    font-family: "Roboto", sans-serif;
    background-color:rgb(44, 60, 114);
    text-align:center;
    min-width: 800px;
}

.MainContainer {
    background-color: red;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.TopBar{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 110px;
    background-color: aqua;
}

.FooterBar{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 110px;
    background-color: aqua;
}

.Panel {
    margin: 5px;
    border-radius: 10px;
    background: #73AD21;
    padding: 10px;
    padding-top: 1px;
    text-align: left;
}

/*Titles, subtitles and main text*/
h2 {
    color: brown;
}
h3 {
    color: chocolate;
}
p {
    color:crimson
}