body {
    font-family: "Roboto", sans-serif;
    background-color:rgb(39, 83, 53);
    text-align:center;
    min-width: 800px;
}

.BackFooter {
    bottom: 0;
    position:fixed;
    background-color: #00bc8c;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.MainContainer {
    background-color: rgba(24, 24, 24, 0.9);
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.TopBar{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 110px;
    background-color: #242424;
    color: #aaaaaa
}

.FooterBar{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 110px;
    background-color: #242424;
}

.Panel {
    margin: 5px;
    border-radius: 10px;
    background: #242424;
    padding: 10px;
    padding-top: 1px;
    text-align: left;
}

/*Titles, subtitles, main text and links*/
h2 {
    color: #aaaaaa;
}
h3 {
    color: #aaaaaa;
}
p {
    color: #dddddd
}
a {
    color: #00bc8c
}

details > summary {
    cursor: pointer;
    color: #00bc8c
}
